<h1>Edit Recipe</h1>

<form action="/recipes/<%= @recipe.id %>" method="post">
	<input type="hidden" name="_method" value="patch">
	<div>
		Title: <input type="text" name="title" value="<%= @recipe.title %>">
	</div>
	<div>
		Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
	</div>
	<div>
		Directions: <input type="text" name="directions" value="<%= @recipe.directions %>">
	</div>
	<div>
		Prep Time: <input type="text" name="prep_time" value="<%= @recipe.prep_time %>">
	</div>
	<div>
		Image Url: <input type="text" name="image_url" value="<%= @recipe.image_url %>">
	</div>
	<div>
		Choose a user:
		<select name="user_id">
			<% @users.each do |user| %>
				<% if @recipe.user == user %>
					<option selected value="<%= user.id %>"><%= user.name %></option>
				<% else %>
					<option value="<%= user.id %>"><%= user.name %></option>
				<% end %>
			<% end %>
		</select>
	</div>
	<input type="submit" value="Update Recipe">
</form>

<a href="/recipes/<%= @recipe.id %>" data-method="delete">Delete</a>